/* BASE */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-size: 14px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #3095F6;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

/* INPUT */
input {
    height: 36px;
    padding: 3px 15px;
    border: 0;
    border-radius: 8px;
    
}

input:focus {
    outline: none;
}

.search-input {
    min-width: 250px;
    background: #efefef url(../../images/icons/magnifier.svg) no-repeat 10px center;
    background-size: 16px;
    padding-left: 34px;
    font-size: 14px;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.container--narrow {
    max-width: 1050px;
}

/* CONTENT WRAPPER */
.content-wrapper__aside {
    display: none;
}

@media screen and (min-width: 800px) {
    .content-wrapper {
        display: flex;
        margin: 0 -15px;
    }

    .content-wrapper__main,
    .content-wrapper__aside {
        padding: 0 15px;
    }
    
    .content-wrapper__main {
        width: 70%;
    }

    .content-wrapper__aside {
        display: block;
        flex: 1;
    }

    .content-wrapper__aside-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
}

/* PAGE HEADER */
.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;
}

.page-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header__logo {
    flex-shrink: 0;
}

.page-header__logo img {
    display: block;
}

.page-header__search {
    display: none;
}

@media screen and (min-width: 800px) {
    .page-header__search {
        display: block;
    }
}

/* PAGE NAV */
.page-nav {
    display: flex;
}

.page-nav__item  {
    flex-shrink: 0;
    margin-right: 20px;
}

.page-nav__item:last-child {
    margin-right: 0;
}

.page-nav__item img {
    display: block;
}

/* IMAGE SQUARE */
.image-square {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    overflow: hidden;
}

.image-square--small {
    width: 32px;
    height: 32px;
}

.image-square--tiny {
    width: 24px;
    height: 24px;
}

.image-square.has-border {
    border: 1px solid #dbdbdb;
}

.image-square.is-active {
    border: 2px solid #DD2A7C;
}

.image-square.is-active img {
    border: 1px solid #ffffff;
    border-radius: 100%;
}

/* STORIES BOX */
.stories-box {
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
}

.stories-box__list {
    display: flex;
    padding: 0 15px;
    overflow-x: scroll;
}

.stories-box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
}

.stories-box__item:hover span {
    text-decoration: underline;
}

.stories-box__item:last-child {
    margin-right: 0;
}

.stories-box__item span {
    font-size: 10px;
    color: #000000;
    margin-top: 5px;
}

/* SUGGESTION BOX */
.suggestion-box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 12px;
}

.suggestion-box__header h2 {
    margin: 0;
    font-size: inherit;
    color: #969696;
}

.suggestion-box__header a {
    color: #000000;
    font-weight: bold;
}

/* SUGGESTION ITEM */
.suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.suggestion-item:last-child {
    margin-bottom: 0;
}

.suggestion-item__link {
    font-size: 12px;
    font-weight: bold;
}

/* POST */
.post {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
}

.post:last-child {
    margin-bottom: 0;
}

.post__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.post__details {
    padding: 15px;
}

.post__actions {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.post__actions-item {
    margin-right: 20px;
}

.post__actions-item img {
    display: block;
}

.post__actions-item:last-child {
    margin-right: 0;
}

.post__comments-comment a {
    color: #969696;
}

.post__footer {
    display: flex;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #efefef;
}

.post--loader {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* USER DETAILS */
.user-details {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-details__img {
    margin-right: 10px;
}

.user-details__content h2,
.user-details__content h3 {
    margin: 0 0 3px 0;
    font-size: 12px;
    font-weight: bold;
}

.user-details__content p {
    margin: 0;
    font-size: 11px;
    color: #969696;
}

.user-details--big .user-details__content h2,
.user-details--big .user-details__content h3 {
    font-size: 13px;
}

.user-details--big .user-details__content p {
    font-size: 12px;
}

/* PAGE FOOTER */
.page-footer {
    padding: 30px 0;
    font-size: 12px;
    color: #969696;
}

.page-footer__nav a {
    margin-right: 10px;
    color: #969696;
}

.page-footer__nav a:last-child {
    margin-right: 0;
}
