.page-header {
    margin-bottom: 30px;
    padding: 10px 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray;
    position: sticky;
    top: 0;
    box-shadow: 0px 15px 30px -18px $color-gray;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-shrink: 0;
        
        &::after{
            content: "BETA";
            color: $color-gray;
        }
        
        img {
            display: block;
        }
    }

    &__search {
        display: none;

        @media screen and (min-width: 800px) {
            display: block;
        }
    }
}
