* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-size: 14px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #3095F6;
}

a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}