$color-white: #fff !default;
$color-black: #000 !default;
$color-primary: #dd2a7c !default;
$color-secondary: #3095f6 !default;
$color-gray: #dbdbdb !default;
$color-gray--light: #efefef !default;
$color-gray--lighter: #fafafa !default;
$color-gray--dark: #969696 !default;

