$color-white: #fff;
$color-black: #000;
$color-primary: #dd2a7c;
$color-secondary: #3095f6;
$color-gray: #dbdbdb;
$color-gray--light: #efefef;
$color-gray--lighter: #fafafa;
$color-gray--dark: #969696;

