
.content-wrapper {

    &__aside {
        display: none;
    }

    @media screen and (min-width: 800px) {
        & {
            display: flex;
            margin: 0 -15px;
        }

        &__main, &__aside {
            padding: 0 15px;
        }
        
        &__main {
            width: 70%;
        }
    
        &__aside {
            display: block;
            flex: 1;
        }
    
        &__aside-user {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
        }


    }

}