/* IMAGE SQUARE */
.image-square {
    display: flex;
    align-items: center;
    justify-self: center;
    @include square(56px);
    border-radius: 100%;
    overflow: hidden;

    
    &--small {
        width: 32px;
        height: 32px;
    }

    &--tiny {
        width: 24px;
        height: 24px;
    }

    &.has-border {
        //border: 1px solid #dbdbdb;
        @include border (1px, solid, #dbdbdb);

    }

    &.is-active {
        //border: 2px solid #DD2A7C;
        @include border (2px, solid, #DD2A7C);
    }

    &.is-active img {
        //border: 1px solid #ffffff;
        @include border (1px, solid, #ffffff);
        border-radius: 100%;
    }
}