/* PAGE NAV */
.page-nav {
    display: flex;

    &__item  {
        flex-shrink: 0;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        img {
            display: block;
        }
    }
}
