/* PAGE FOOTER */
.page-footer {
    padding: 30px 0;
    font-size: 12px;
    color: #969696;
}

.page-footer__nav a {
    margin-right: 10px;
    color: #969696;
}

.page-footer__nav a:last-child {
    margin-right: 0;
}
