/* POST */
.post {
    margin-bottom: 20px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 7px;

        
    &:last-child {
        margin-bottom: 0;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }

    &__details {
        padding: 15px;
    }

    &__actions {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        &-item {
            margin-right: 20px;
        
        
            img {
                display: block;

                
            }
            
            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__comments-comment a {
        color: #969696;
    }

    &__footer {
        display: flex;
        align-items: center;
        padding: 15px;
        border-top: 1px solid #efefef;
    }

    &--loader {
        padding: 15px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
}
