/* STORIES BOX */
.stories-box {
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 7px;
}

.stories-box__list {
    display: flex;
    padding: 0 15px;
    overflow-x: scroll;
}

.stories-box__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    text-decoration: none;
}

.stories-box__item:hover span {
    text-decoration: underline;
}

.stories-box__item:last-child {
    margin-right: 0;
}

.stories-box__item span {
    font-size: 10px;
    color: #000000;
    margin-top: 5px;
}