/* SUGGESTION ITEM */
.suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
}

.suggestion-item:last-child {
    margin-bottom: 0;
}

.suggestion-item__link {
    font-size: 12px;
    font-weight: bold;
}
