/* SUGGESTION BOX */
.suggestion-box__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 12px;
}

.suggestion-box__header h2 {
    margin: 0;
    font-size: inherit;
    color: #969696;
}

.suggestion-box__header a {
    color: #000000;
    font-weight: bold;
}
