/* USER DETAILS */
.user-details {
    display: flex;
    align-items: center;
    margin-right: 10px;

        
    &__img {
        margin-right: 10px;
    }

    &__content{
        h2, h3 {
        margin: 0 0 3px 0;
        font-size: 12px;
        font-weight: bold;
        }

        p {
            margin: 0;
            font-size: 11px;
            color: #969696;
        }
    }

    &--big{
        .user-details__content{
            h2, h3{
                font-size: 13px;
            }
            p {
                font-size: 12px;
            }
        }


    }


}
