.suggestion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &__link {
        font-size: 12px;
        font-weight: bold;
    }
}
