.search-input {
    min-width: 250px;
    background: $color-gray--light url(../../images/icons/magnifier.svg) no-repeat 10px center;
    background-size: 16px;
    padding-left: 34px;
    font-size: 14px;
}